.mobile-nav {
  position: fixed;
  inset: 0;
  z-index: 100;
  background-color: #161819;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(16px);
  transition: transform 0.5s ease-out;
}

.mobile-nav.closed {
  transition-timing-function: ease-in;
  transform: translate3d(0, -100vh, 0);
}

.mobile-nav.open {
  transform: none;
}

.mobile-nav__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.5rem;
  margin-top: -7rem;
}

.mobile-nav__list .nav-link {
  position: relative;
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
  color: #fff;
  padding: 1.5rem 0;
}

.mobile-nav__list .nav-link:hover {
  background-color: #3f3a3a;
}

.mobile-nav__list .nav-link:last-child::after {
  display: block;
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  left: 50%;
  margin-top: 0.5rem;
  transform: translateX(-50%);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #fff;
}

.mobile-nav__buttons {
  position: absolute;
  bottom: 2rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.mobile-nav__buttons .btn {
  font-family: inherit;
  font-weight: bold;
  font-size: 0.9rem;
  background-color: transparent;
  color: #fff;
  outline: none;
  border: 1px solid #ffffff2c;
  border-radius: 8px;
  padding: 0.75rem 1.1rem;
  width: 150px;
  cursor: pointer;
}

.mobile-nav__buttons .btn:hover {
  background-color: #ffffff2c;
}

.mobile-nav__buttons .icon {
  cursor: pointer;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  background-color: #323435;
}

.mobile-nav__buttons .icon:hover {
  background-color: transparent;
}

.mobile-nav__buttons .icon.facebook {
  padding: 0.1rem;
  color: #3481f0;
}

.toggle {
  position: fixed;
  top: 2rem;
  right: 1.25rem;
  z-index: 150;
}

.toggle__icon {
  height: 30px;
  width: 30px;
  color: #fff;
  cursor: pointer;
}
