.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8rem;
  margin-bottom: 1.5rem;
}

.footer .discover {
  display: flex;
  align-items: center;
}

.footer .discover .link {
  color: #7d7f81;
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 1.5;
  width: 150px;
  text-decoration: underline;
  cursor: pointer;
}

.footer .discover .collections {
  width: 150px;
  height: 75px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.footer .discover .collections .collection {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.1rem;
  background-color: rgba(255, 255, 255, 0.801);
  border-radius: 10px;
}

.footer .discover .collections .collection:nth-child(2) {
  left: -20px;
}

.footer .discover .collections .collection:nth-child(3) {
  left: -40px;
}

.footer .discover .collections .collection:nth-child(4) {
  left: -60px;
}

.footer .discover .collections .collection img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: #fff;
  object-fit: cover;
}

.footer button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #323337;
  border: none;
  outline: none;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  font-family: inherit;
  cursor: pointer;
  padding: 0 2rem;
  height: 40px;
  border-radius: 5px;
}

.footer button .icon {
  fill: #74767a;
}

.footer .pageControl {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer .pageControl .label,
.footer .pageControl .page {
  color: #5f676c;
  font-weight: bold;
  font-size: 0.9rem;
}

.footer .pageControl .controls {
  display: flex;
  gap: 0.25rem;
}

.footer .pageControl .control {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f2123;
  height: 25px;
  width: 25px;
  border-radius: 5px;
}

.footer .pageControl .control .icon {
  fill: #fff;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.footer .pageControl .control:nth-child(2) {
  background-color: #393a3e;
}

.footer .pageControl .control span {
  color: #fff;
  font-weight: bold;
}
